//--- VARIABLES ---//
$red: #e41e1e;
$green: #3fbb37;
$black: #3e4448;
$navy-black: #19232d;
$teal: #2ec4b6;
$grey: #f6f7f8;
$blue: #20a4f3;
$gold: #efc004;

$box-shadow: 0 1px 10px #9fa5d0;
$section-shadow: 0 5px 10px #e9eaf3;


//--- GENERAL ---//
i {
  margin: 8px 0;
  color: #999;
  display: block;
}
#error_explanation {
  color: $red;
}


//--- HEADER ---//
header {
  margin-bottom: 20px;

  .navbar-nav {
    .sign-in {
      margin: -8px 0;
      padding: 16px 16px 0 !important;
      background: $blue;
    }
    .sign-in:hover {
      background: $teal;
    }
  }
}


//--- BODY CONTENT ---//
.section {
  box-shadow: $section-shadow;

  .row {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
.section, .two-column-section {
  display: inline-block;
  margin: 0 -15px;
  padding: 40px 30px 60px;

  &:first-child {
    padding-top: 20px;
  }

  .left {
    width: 45%;
    margin-right: 5%;
  }
  .right {
    width: 45%;
    margin-left: 5%;
  }

  .image-container {
    text-align: center;
    vertical-align: middle;

    img {
      margin: 0 auto;
    }
  }

  ul li {
    margin-bottom: 8px;
  }
}
.shout-out {
  display: inline-block;
  color: $grey;
  padding-top: 45px !important;

  p {
    font-size: 2em;
    line-height: 1.1em;
    padding: 0 35px;
  }
}
ul {
  li {
    span {
      margin-left: 8px;
    }
  }
}


//--- BUTTONS ---//
a {
  color: $blue;
}
a:hover {
  color: $red;
  text-decoration: none;
}
h1 {
  a.btn {
    font-size: 13px;
    padding: 2px 5px 2px 8px;
    margin: 13px 0 0 8px !important;
    border: 1px solid !important;
    border-radius: 3px !important;
    color: $blue;

    &.btn-solid {
      background: $blue;
      color: #fff;

      &:hover {
        background: $teal;
      }
    }

    .btn-icon {
      width: 24px;
      margin: -14px 0 0 -2px;
    }
  }
}
input[type='submit'] {
  background: $blue;
  color: #fff;
}
input[type='submit']:hover {
  background: $teal;
}


//--- FORM ---//
form {
  input.rememberme, label.rememberme {
    float: left;
  }
  label.rememberme {
    margin: -4px 0 10px 10px;
  }

  .form-actions {
    clear: both;
  }

  input[type='submit']:hover, button:hover {
    cursor: pointer;
  }
}
